body {
  background-color: #f7f1db;
  margin: 0;
  overflow-x: hidden;
}

.album-container {
  background-color: #d52a28;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.album-card {
  font-family: "Bungee", sans-serif;
  color: #003049;
  background-color: #f7f1db;
  width: 320px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  border: 10px solid #003049;
}

.album-card h3 {
  font-family: "Bungee", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.album-card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.album-card p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}