.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f7f1db;
  margin: 0px;
  overflow-x: hidden; 
}

.main {
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #fcbf49;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: #d52a28;
}

.navbar li {
  float: left;
}

.navbar li a {
  font-family: "Bungee", sans-serif;
  background-color: #f7f1db;
  color: #003049;
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-width: 2px 5px 5px 2px;
  border-color: #d52a28;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #d52a28;
  color: #f7f1db;
  border-color: #fcbf49;
}


.header_border {
  display: flex;
  align-items: center;  
}


h1 {
  color: #003049;
  font-family: "Bungee", sans-serif;
  font-size: 6rem;
}

.top {
  background-color: #d52a28;
  padding: 30px;
}

.record {
  position: absolute;
  top: 80%;
  left: 90%;
  width: 800px;

  transform: translate(-50%, -50%);

}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.record {
  animation: spin 10s linear infinite;
}

ol {
  list-style-type: none;
}

.album {
  font-family: "Bungee", sans-serif;
  color: #003049;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f1db;
  padding: 40px;
  margin: 40px auto;
  max-width: 1000px;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #003049;
}

.album img {
  margin-bottom: 12px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}